<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="app.android.ttp.mikazuki.yoshinani">

    <permission android:name="${applicationId}.permission.C2D_MESSAGE"
                android:protectionLevel="signature"/>
    <uses-permission android:name="${applicationId}.permission.C2D_MESSAGE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <!--android:name=".App"-->
    <application
        android:name=".BaseApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_material_product_icon_192px"
        android:label="@string/app_name"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".view.activity.LoginActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:host="app" android:pathPattern=".*" android:scheme="yoshinani"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".view.activity.BaseActivity"
            android:label="@string/title_activity_base"/>
        <activity
            android:name=".view.activity.MainActivity"
            android:label="@string/app_name"
            android:parentActivityName=".view.activity.BaseActivity"/>
        <activity
            android:name=".view.activity.GroupActivity"
            android:parentActivityName=".view.activity.BaseActivity"/>
        <activity
            android:name=".view.activity.PostActivity"
            android:label="@string/title_activity_post"
            android:parentActivityName=".view.activity.BaseActivity"/>
        <activity
            android:name=".view.activity.EditProfileActivity"
            android:parentActivityName=".view.activity.BaseActivity"/>
        <activity
            android:name=".view.activity.ChangePasswordActivity"
            android:parentActivityName=".view.activity.BaseActivity"/>
        <activity
            android:name=".view.activity.WebViewActivity"
            android:parentActivityName=".view.activity.BaseActivity"/>
        <!--<activity-->
        <!--android:name="com.facebook.FacebookActivity"-->
        <!--android:configChanges=-->
        <!--"keyboard|keyboardHidden|screenLayout|screenSize|orientation"-->
        <!--android:label="@string/app_name"-->
        <!--android:theme="@android:style/Theme.Translucent.NoTitleBar"/>-->
        <!--Include the AdActivity configChanges and theme. -->
        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:theme="@android:style/Theme.Translucent"/>


        <!-- LINE SDK -->
        <activity android:name="jp.line.android.sdk.activity.LineAuthCompleteActivity"
                  android:configChanges="keyboard|orientation"
                  android:exported="true"
                  android:screenOrientation="sensor">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="line.1461975038"/>
            </intent-filter>
        </activity>
        <activity android:name="jp.line.android.sdk.activity.WebLoginActivity"
                  android:configChanges="keyboard|orientation"
                  android:exported="false"
                  android:screenOrientation="sensor">
        </activity>
        <meta-data
            android:name="jp.line.sdk.ChannelId"
            android:value="1461975038"/>
        <meta-data
            android:name="jp.line.sdk.AuthScheme"
            android:value="line.1461975038"/>

        <!-- for GCM -->
        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
                <category android:name="${applicationId}"/>
            </intent-filter>
        </receiver>
        <service
            android:name=".gcm.MyGcmListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
            </intent-filter>
        </service>
        <service
            android:name=".gcm.MyInstanceIDListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID"/>
            </intent-filter>
        </service>
        <!-- [END instanceId_listener] -->
        <service
            android:name=".gcm.RegistrationIntentService"
            android:exported="false">
        </service>

        <!-- ANALYTICS -->
        <receiver
            android:name="com.google.android.gms.analytics.AnalyticsReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="com.google.android.gms.analytics.ANALYTICS_DISPATCH"/>
            </intent-filter>
        </receiver>
        <service
            android:name="com.google.android.gms.analytics.AnalyticsService"
            android:enabled="true"
            android:exported="false"/>
        <!--This meta-data tag is required to use Google Play Services.-->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="d4c64d3b1050d78232362b2c9d7bff55bb4c5cc8"/>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>
    </application>

</manifest>
